{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <h1>О приложении</h1>
    <div class="about-content">
        <p>КремлеБот - это образовательное приложение, посвященное истории Великой Отечественной войны.</p>

        <h2>Возможности:</h2>
        <ul>
            <li>Изучение ключевых событий войны</li>
            <li>Проверка знаний с помощью тестов</li>
            <li>Отслеживание прогресса в профиле</li>
            <li>Система достижений</li>
        </ul>

        <h2>Версия 1.0</h2>
        <p>© 2025 КремлеБот. Все права защищены.</p>
        <p>Создатели: Фазылзянов Дамир(на правах разработчика), Лунев Максим, Емельянов Александр, Закиров Муса</p>
    </div>
</div>
{% endblock %}